@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 7%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;

    --primary: 139 59% 42%;
    --primary-foreground: 0 0% 100%;

    --secondary: 140 20% 95%;
    --secondary-foreground: 0 0% 7%;

    --muted: 140 10% 95%;
    --muted-foreground: 0 0% 40%;

    --accent: 139 59% 42%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 139 59% 42%;

    --radius: 0.5rem;

    --sidebar-background: 131.6 100% 35.5%; /* #00B523 */
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 131.6 100% 35.5%;
    --sidebar-accent: 131.6 100% 28%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 131.6 100% 28%;
    --sidebar-ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
